<p id="notice"><%= notice %></p>

<h1>Listing Fraternities</h1>

<table cellspacing = "10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>History</th>
      <th>Email</th>
      <th>Positions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fraternities.each do |fraternity| %>
      <tr>
        <td><%= fraternity.name %></td>
        <td><%= fraternity.location %></td>
        <td><%= fraternity.history %></td>
        <td><%= fraternity.email %></td>
        <td><%= fraternity.positions %></td>
        <td><%= link_to 'Show', fraternity %></td>
        <td><%= link_to 'Edit', edit_fraternity_path(fraternity) %></td>
        <td><%= link_to 'Destroy', fraternity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fraternity', new_fraternity_path %>
